.field {
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
    color: rgb(9, 60, 155);
  }
  
  .questBody {
    background-image: url("/images/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }


